<div class="ParagraphHeadBox">
    <span class="ParagraphHead" data-translate="content">Puzzles</span>
</div>
<div class="ParagraphTextBox">
    <span class="ParagraphText" data-translate="content">puzzles-content1</span>
    <br>
    <span class="ParagraphText" data-translate="content">puzzles-content2</span>
    <br>
    <span class="ParagraphText" data-translate="content">puzzles-content3</span>
    <br>
    <span class="ParagraphText" data-translate="content">puzzles-content4</span>
    <br>
    <span class="ParagraphText">.....</span>
</div>