<div class="ParagraphGroup">
    <div class="ParagraphHeadBox">
        <span class="ParagraphHead" data-translate="content">Our Research</span>
    </div>
    <div class="ParagraphTextBox">
        <span class="ParagraphHead" data-translate="content">ourResearch-content1</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content2</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
        <span class="ParagraphHead" data-translate="content">ourResearch-content3</span>
        <br>
    </div>
</div>
<div class="ParagraphGroup">
    <div class="ParagraphHeadBox">
        <span class="ParagraphHead" data-translate="content">Related Article</span>
    </div>
    <div class="ParagraphTextBox">
        <span class="ParagraphHead" data-translate="content">webDesign-article1</span>
    </div>
</div>