<div class="ParagraphHeadBox">
    <span class="ParagraphHead" data-translate="content">Description</span>

</div>
<div class="ParagraphTextBox">
    <span class="ParagraphText" data-translate="content">description-p1</span><br>
    <span class="ParagraphText" data-translate="content">description-p2</span>
</div>


<!-- 公司介绍
Description
5YWs5Y+45o+P6L+w
Q29tcGFueSBEZXNjcmlwdGlvbg==

description-p1
IBS 信商管理咨询服务公司， 是在美国注册的，具有十多年历史的信息系统与信息技术管理咨询公司
SUJTIG1hbmFnZW1lbnQgY29uc3VsdGluZyBzZXJ2aWNlcyBjb21wYW55IGlzIHJlZ2lzdGVyZWQgaW4gdGhlIFVuaXRlZCBTdGF0ZXMgYW5kIGhhcyBhIGhpc3Rvcnkgb2Ygb3ZlciB0ZW4geWVhcnMgaW5mb3JtYXRpb24gc3lzdGVtcyBhbmQgaW5mb3JtYXRpb24gdGVjaG5vbG9neSBtYW5hZ2VtZW50IGNvbnN1bHRpbmcgY29tcGFueS4=
description-p2
在中国属柏科咨询股份 （Beckwell Consulting Service) 旗下联营企业
SXQgaXMgYWZmaWxpYXRlZCB3aXRoIEJlY2t3ZWxsIENvbnN1bHRpbmcgU2VydmljZSBpbiBDaGluYS4=

Main Bussiness
5Li76JCl5Lia5Yqh
TWFpbiBidXNpbmVzcw==
bussiness-1
SVQg6JOd5Zu+6KeE5YiS
SVQgYmx1ZXByaW50IHBsYW5uaW5n
bussiness-2
5a6e5pa96Lev57q/5Zu+6K6+6K6h
SW1wbGVtZW50IHRoZSByb2FkIG1hcCBkZXNpZ24u
bussiness-3
SVQg5pS55ZaE5LiO5rK755CG
SVQgaW1wcm92ZW1lbnQgYW5kIGdvdmVybmFuY2U=
bussiness-4
5LyB5Lia5L+h5oGv5a6J5YWoIChDeWJlcnNlY3VyaXR5KSDop4TliJLkuI7lrp7mlr3nrqHnkIYg
RW50ZXJwcmlzZSBpbmZvcm1hdGlvbiBzZWN1cml0eSAoQ3liZXJzZWN1cml0eSkgcGxhbm5pbmcgYW5kIGltcGxlbWVudGF0aW9uIG1hbmFnZW1lbnQu
-->
