<div class="ContactCard" style="flex-grow:1;">
    <div class="ContactCardText">
        <span class="BoldText" data-translate="content">HotLine</span>
        <span>703-814-2446</span>
    </div>


    <div class="ContactCardText">
        <span class="BoldText" data-translate="content">Email</span>
        <span>relaxslow@hotmail.com</span>
        <br>
    </div>
    <div class="ContactCardText">
        <span class="BoldText" data-translate="content">Address</span>
        <address class="ContactCardText">
            13516 coates ln
            <br> Herndon
            <br> VA 20171
        </address>
    </div>
</div>

<div class="GoogleMap" style="flex-grow:5;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.4816317283817!2d-77.41650668485228!3d38.91296775363164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b6465b683cd705%3A0xefe31b60a396ae26!2s13516+Coates+Ln%2C+Herndon%2C+VA+20171!5e0!3m2!1sen!2sus!4v1517585070291"
        width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>