<div class="ParagraphBox">
    <div class="ParagraphHeadBox">
        <span class="ParagraphHead" data-translate="content">Visions</span>
    </div>
    <div class="ParagraphTextBox">
        <span class="ParagraphText" data-translate="content">Vision-description</span>
    </div>

    <div class="ParagraphHeadBox">
        <span class="ParagraphHead" data-translate="content">Position</span>
    </div>
    <div class="ParagraphTextBox">
        <span class="ParagraphText" data-translate="content">Position-description</span>
    </div>

    <div class="ParagraphHeadBox">
        <span class="ParagraphHead" data-translate="content">Mission</span>
    </div>
    <div class="ParagraphTextBox">
        <span class="ParagraphText" data-translate="content">Mission-description</span><br><br>
        <span class="ParagraphText" data-translate="content">Mission-description1</span><br><br>
        <span class="ParagraphText" data-translate="content">Mission-description2</span>
        
    </div>
</div>