<div class="ParagraphBox">
    <div class="ParagraphHeadBox">
        <span class="ParagraphHead" data-translate="content">Position1Title</span>
    </div>
    <div class="ParagraphTextBox">
        <span class="ParagraphText" data-translate="content">Position1Description</span>
    </div>
    <br>
    <div class="ParagraphHeadBox">
        <span class="ParagraphHead" data-translate="content">Position2Title</span>
    </div>
    <div class="ParagraphTextBox">
        <span class="ParagraphText" data-translate="content">Position2Description</span>
    </div>
    <br>
    <div class="ParagraphHeadBox">
        <span class="ParagraphHead" data-translate="content">Position3Title</span>
    </div>
    <div class="ParagraphTextBox">
        <span class="ParagraphText" data-translate="content">Position3Description</span>
    </div>
</div>



