<div class="businessCard">
    <div class="BusinessDiagram"></div>
    <span class="BusinessTitle" data-translate="content"></span>
</div>
<div class="businessCard">
    <div class="BusinessDiagram"></div>
    <span class="BusinessTitle" data-translate="content"></span>
</div>
<div class="businessCard">
    <div class="BusinessDiagram"></div>
    <span class="BusinessTitle" data-translate="content"></span>
</div>
<div class="businessCard">
    <div class="BusinessDiagram"></div>
    <span class="BusinessTitle" data-translate="content"></span>
</div>