<div class="Strip">
    <div class="Striphead">
        <span class="StripHeadText" data-translate="content">AdvisoryHotline</span>
    </div>
    <div class="LanguageButton">
        <div class="LanguageIcon"></div>
        <span class="LanguageText">Chinese</span>
    </div>
</div>
<div class="NavBar">
    <div class="NavLogo"></div>
    <div class="NavMenuBox"> </div>
    <div class="NavMenuIcon">
        <div class="NavMenuIconPullDownMenu">
            <div class="container"></div>
        </div>

    </div>
</div>