<!-- 
DomesticIntroduce-content1
CHN
部分政府机构与少数企业采用 IT 蓝图规划服务， 如华为， xx, 等。多数企业仍然缺乏IT 蓝图规划。
USA
Some government agencies and a few enterprises adopt IT blueprint planning services, such as huawei, xx, etc.Most companies still lack IT blueprint planning.

DomesticIntroduce-content2
CHN
IT 蓝图规划尚未成为企业业务结构与管理的有机部分。
USA
The IT blueprint has not yet become an organic part of enterprise business structure and management.

DomesticIntroduce-content3
CHA
市场巨大，预测今后10年将 150% 增长。许多有 IT 结构的企业机构都需要不断升级并长期跟上 信息技术 更新。 IT 蓝图规划服务是必不可少的。
USA
The market is huge and predicts 150 percent growth over the next 10 years.Many enterprise organizations with IT structures need to upgrade and keep abreast of information technology updates.IT blueprint planning services are essential.
-->

<div class="ParagraphTextBox">
    <div class="Paragraph">
        <div class="ParagraphDot"></div>
        <span class="ParagraphText" data-translate="content">DomesticIntroduce-content1</span>

    </div>

    <div class="Paragraph">
        <div class="ParagraphDot"></div>
        <span class="ParagraphText" data-translate="content">DomesticIntroduce-content2</span>
    </div>

    <div class="Paragraph">
        <div class="ParagraphDot"></div>
        <span class="ParagraphText" data-translate="content">DomesticIntroduce-content3</span>
    </div>



</div>