<div class="ParagraphTextBox">
    <div class="Paragraph">
        <div class="ParagraphDot"></div>
        <span class="ParagraphText" data-translate="content">InternationalIntroduce-content1</span>

    </div>
    <div class="Paragraph">
        <div class="ParagraphDot"></div>
        <span class="ParagraphText" data-translate="content">InternationalIntroduce-content2</span>

    </div>
    <div class="Paragraph">
        <div class="ParagraphDot"></div>
        <span class="ParagraphText" data-translate="content">InternationalIntroduce-content3</span>

    </div>

</div>