.bannerBoxTitle {
    width: 259px;
    font-size: 35px;
    letter-spacing: 9px;
    color: white;
    position: absolute;
    top: 101px;
    left: 113px;
    text-align: center;
    text-shadow: 0px 1px black;
}

.bannerBoxSubtitle {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 144px;
    left: 107px;
    text-align: center;
    width: 270px;
    text-shadow: 0px 1px black;
}